* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fcfbfb;
}
/* ! Header started */

.logo {
  width: 48px;
  vertical-align: bottom;
  margin-right: 5px;
}

.logo-div {
  background-color: rgba(255, 255, 255, 0.403);
  text-align: center;
  padding: 10px 0;
}
.logo-div span {
  font-size: 28px;
}
.hover-span{

  width: 0%;
}

.header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.504), rgba(0, 0, 0, 0.502)),
    url(hotel/1.jpg);
  background-position: left bottom;
  background-size: cover;
}

/* ! Navigation Links Started */
nav {
  margin-top: 10px;
}

ul {
  list-style-type: none;
  text-align: center;
}
li {
  padding: 10px 0;
}
ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.text-box {
  margin-top: 30px;
  text-align: center;
}
.text-box h1 {
  color: red;
  font-size: 36px;
}

.text-box p {
  color: white;
  font-size: 18px;
  margin-top: 40px;
}
.text-box a {
  text-decoration: none;
  color: greenyellow;
  display: inline-block;
  font-size: 18px;
  margin-top: 40px;
  border: 2px solid yellow;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.253);
}

/* ! header media query */

@media screen and (min-width: 768px) {
  .flex-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.703);
  }
  .logo-div {
    background-color: unset;
  }

  .nav-links ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .nav-links ul li {
    margin: 0 8px;
  }
  .nav-links ul li a {
    font-size: 20px;
    color: black;
    font-weight: 600;
  }
  .text-box {
    margin-top: 150px;
  }
  .text-box h1 {
    font-size: 48px;
  }
}

@media screen and (min-width: 992px) {
  .nav-links ul li {
    margin: 0 20px;
  }
  .nav-links ul li a {
    font-size: 22px;
  }
  .text-box a:hover {
    background-color: rgba(0, 0, 139, 0.307);
    border-color: darkblue;
    transition: all 0.5s;
  }
  .hover-span{
    display: block;
    height: 2px;
    background-color: crimson;
    margin: auto;
    transition: all 0.5s;

}
.nav-links ul li:hover .hover-span{
    width: 100%;
}
}


/* ! service-paragraphs started */
.service-paragraph {
  width: 80vw;
  margin: 20px auto;
  text-align: center;
}

.service-paragraph h2 {
  color: red;
  font-size: 32px;
  margin-bottom: 15px;
}
.service-paragraph p {
  margin-bottom: 15px;
}
.service-para {
  padding: 10px 20px;
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  background-color: #ddd;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.service-para p {
  text-align: justify;
}
.service-para h3 {
  color: seagreen;
  margin: 10px 0;
}

/* ! service-paragraphs media queries */

@media screen and (min-width: 768px) {
  .service-para-container {
    display: flex;
    justify-content: space-evenly;
    /* gap: 20px; */
  }
  .service-para {
    width: 25vw;
  }
}

/* facilities started */
.facilities {
  width: 80vw;
  margin: 30px auto;
  text-align: center;
}
.facilities h2 {
  color: red;
  font-size: 32px;
}

.facilities p {
  margin: 20px 0;
}
.img-container {
  width: 100%;
  margin: 20px auto;
  max-width: 600px;
}
.img-container img {
  width: 100%;

  border-radius: 10px;
  display: block;
  margin-bottom: 10px;
}

/* facilities media queries started */
@media screen and (min-width: 992px) {
  .flex-image {
    display: flex;
    gap: 30px;
  }
  /* ! facilities sliding-bg started */
  .img-container {
    position: relative;
  }
  .sliding-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.5s;
  }
  .img-container img {
    margin-bottom: 0;
  }
  .sliding-bg h3 {
    position: absolute;
    bottom: 0;
    color: white;
    width: 100%;
    font-size: 30px;
    opacity: 0;
    transition: all 0.5s;
  }
  .sliding-bg:hover {
    background-color: rgba(0, 0, 255, 0.4);
  }
  .sliding-bg:hover h3 {
    opacity: 1;
    bottom: 45%;
  }

  /*? .comfort-bg{
        top: 0;
        left: 0;
        transition: all 1s;
        width: 100%;
        height: 100%;
        border-radius: 10px;
  
    }  
    .comfort-bg:hover{
        background-color: rgba(129, 220, 11, 0.206);       
    } 
    .comfort-bg h3{
        opacity: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        font-size: 25px;
    }
    .comfort-bg h3:hover{
        opacity: 1;
        bottom: 45%;
    } */
}

/* priority started */

.priority {
  width: 80vw;
  margin: 20px auto;
  text-align: center;
}

.priority h2 {
  color: red;
  font-size: 32px;
  margin: 20px auto;
}

.priority-container {
  width: 100%;
}
.priority-column {
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
}
.priority-column h3 {
  color: darkcyan;
  margin: 10px auto;
}
.priority-column img {
  width: 100%;
  border-radius: 10px;
}

/* priority media queries started */
@media screen and (min-width: 992px) {
  .priority-container {
    display: flex;
    gap: 30px;
  }
}

/* ! feedback  started */

.feedback {
  width: 80vw;
  margin: 10px auto;
  text-align: center;
}
.feedback > p {
  margin: 15px 0;
}

.feedback h2 {
  color: red;
}
.feedback-column {
  width: 100%;
  max-width: 500px;
  background-color: #eacadb;
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
  text-align: justify;
}
.feedback-column img {
  float: left;
  margin-right: 10px;
  height: 40px;
  border-radius: 50%;
}
.feedback-column p {
  margin: 10px 0;
}

.feedback-column h3 {
  margin: 10px 0;
}

.feedback-column i {
  color: red;
  margin-right: 2px;
}

/* ! feedback medias  started */

@media screen and (min-width: 768px) {
  .feedback-container {
    display: flex;
    gap: 20px;
  }
}

@media screen and (min-width: 992px) {
  .feedback-container {
    justify-content: space-evenly;
  }

  .feedback-column {
    width: 35vw;
    max-width: 700px;
    margin: 20px;
  }
}

/* ! contact  started */

/* contact{
    width: 80vw;
    margin: 200px auto;
} */

.contact-container {
  width: 100%;
  padding: 100px 0;

  /* height: 200px; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("hotel/contact1.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  border-radius: 10px;
}

.contact-container h2 {
  color: white;
  margin-bottom: 20px;
  font-size: 24px;
}
.contact-container a {
  text-decoration: none;
  color: greenyellow;
  display: inline-block;
  font-size: 18px;
  margin-top: 40px;
  border: 2px solid yellow;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.253);
}

@media screen and (min-width: 992px) {
  .contact-container a {
    font-size: 24px;
    width: 250px;
    display: inline-block;
    padding: 20px 40px;
  }
  .contact-container h2 {
    font-size: 32px;
  }
  .contact-container a:hover {
    background-color: rgba(0, 0, 139, 0.307);
    border-color: darkblue;
    transition: all 0.5s;
  }
}

/* footer started */

.footer {
  width: 80vw;
  margin: 20px auto;
  text-align: center;
}

.footer h2 {
  font-size: 32px;
  color: red;
  margin-bottom: 20px;
}

.footer p {
  margin-bottom: 20px;
}

.icons i {
  color: red;
  font-size: 24px;
  margin: 10px;
}
.copyright {
  margin-top: 20px;
  font-weight: 700;
  /* font-size: px; */
}

/*! ABOUT STARTED */

.aboutus h1 {
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 200px;
  font-size: 40px;
}
.wearesohn h2 {
  text-align: center;
  font-size: 20px;
  margin: 10px;
}
.wearesohn p {
  text-align: center;
  font-size: 16px;
  margin: 10px;
}
#explore {
  width: 140px;
  text-align: center;
  justify-content: center;
  margin: 5px auto;
  display: block;
  padding: 5px;
  color: black;
}
#explore a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  border: 1px solid rgb(45, 18, 217);
  text-align: center;
  justify-content: center;
}
.wearesohn2 {
  margin: 20px auto;
  width: 90%;
}
.wearesohn2 img {
  width: 100%;
  border-radius: 7px;
}
.aboutusvater {
  text-align: center;
}

.aboutussohn h1 {
  margin: 20px auto;
  /* text-align: center; */
  font-size: 32px;
}
.aboutussohn p {
  /* text-align: center; */
  margin: 13px;
}
.iconlar {
  color: red;
  /* text-align: center; */
  font-size: 30px;
  margin: 0 15px;
}
.iconlar i {
  margin: 0 15px;
}

@media screen and (min-width: 768px) {
  .aboutus h1 {
    font-size: 70px;
    padding: 20px;
  }
  .flex-header {
    display: flex;
    flex-direction: row;
  }
  .nav-links ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin: 0 15px;
  }
  .nav-links ul li a {
    font-size: 22px;
  }

  .wearevater {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }
  .wearesohn2 img {
    /* min-width: 60%;
        max-width: 70%; */
    max-width: 500px;
    border-radius: 20px;
    border: 1px solid red;
  }
  .wearesohn2 {
    width: 45%;
  }
  .wearesohn {
    text-align: center;
    margin: auto;
    width: 45%;
  }
}
.blogbaslık {
  color: white;
  text-align: center;
  margin: 100px auto;
  font-size: 50px;
}

/*! BLOG STARTED */
.oursohn2 {
  height: 330px;
}
.oursohn1 h1 {
  text-align: center left;
  margin: 15px;
  font-size: 24px;
}
.oursohn1 p {
  text-align: center left;
  margin: 22px 15px;
}

input {
  background-color: pink;
  border: 1px solid white;
  margin: 5px;
  width: 90%;

  height: 40px;
  padding: 7px;
}

fieldset {
  border: 1px solid blue;
  margin: 15px;
  text-align: center;
}
.input3 {
  height: 120px;
}
.oursohn2_container h3 {
  text-align: left;
  margin-left: 20px;
  padding: 5px;
}
.post {
  background-color: white;
  width: 160px;
  padding: 3px;
  margin-left: 20px;
  margin-top: 10px;
  border: 1px solid red;
}
.post a {
  text-decoration: none;
  color: black;
  margin: 5px;
}
.tante {
  border: 2px solid rgb(47, 2, 2);
  margin: 15px;
}
.tante div {
  display: flex;
  justify-content: space-between;
}
.postcategories {
  background-color: red;
  color: white;
  text-align: center;
  padding: 20px;
}
.renkliphoto {
  border-radius: 10px;
  width: 85%;
  margin: 20px;
}

.rengarenk {
  width: 100%;
}
.outmutter2 {
  width: 100%;
  padding: 0 10px;
}

/*! ------- */

@media screen and (min-width: 768px) {
  .blogbaslık {
    margin-top: 280px;
    font-size: 60px;
  }
  .renkliphoto{
    height: 85%;
  }
  .oursohn1 {
    max-width: 50%;
  }
  .oursohn2 {
    width: 600px;
    max-width: 40%;
  }
  .outmutter {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
  }
  .outmutter2 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  .tante {
    max-width: 700px;
    width: 45%;
  }
  .tante div {
    font-size: 24px;
    padding: 10px;
  }
  .rengarenk {
    width: 45%;
  }
}

/*! CONTACT US */

.conbaslık h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 120px;
  color: white;
}

#contact {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.504), rgba(0, 0, 0, 0.502)),
    url(hotel/pexels-photo-4559707.webp);
  background-position: top;
  background-size: cover;
}
.harita {
  max-width: 80%;
  border: 2px solid red;
  margin: 15px auto;
  position: relative;
}
iframe {
  width: 100%;
}
#icons {
  color: red;
  font-size: 30px;
  margin: 20px 0 15px 0;
}
.parag {
  font-weight: 600;
}

.iconscontainer {
  margin: 40px 10px;
  padding: 40px;
}
.message {
  height: 200px;
}
.inputcontainer {
  margin: 20px auto;
}
.inputcontainer div {
  width: 150px;
  margin-left: 8px;
  margin-top: 20px;
}
.aboutusson {
  text-align: center;
  margin: 20px;
}
.aboutusson div {
  margin: 15px 0;
}
.abou {
  font-size: 50px;
}
.send {
  color: red;
  border: 1px solid black;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .conbaslık h1 {
    font-size: 80px;
    text-align: center;
    margin-top: 250px;
    color: white;
  }
  .iconscontainer {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 80%;
    margin: 30px auto;
  }
  .inputcontainer {
    width: 55%;
  }
  .sohn {
    width: 35%;
  }
}

/*! Our services started */

.ourservices h2{
  color: red;
  text-align: center;
  margin: 50px 15px 20px 15px;
  font-size: 40px;
}
.ourservices p{
  text-align: center;
  margin-bottom: 40px;
}
.servicesbaslık{
  background-color:rgb(190, 178, 178);
  text-align: center;
  padding: 20px;
  color: rgb(0, 174, 255);
}

.services-box{
  background-color:rgb(190, 178, 178);
  text-align: justify;
  margin: 20px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.ourhotel h2{
  color: red;
  text-align: center;
  margin: 50px 15px 20px 15px;
  font-size: 40px;

}
.ourhotel p{
text-align: center;
  margin-bottom: 40px;
}
.ourhotelphoto img{
width: 100%;
border-radius: 20px;
box-shadow: rgba(196, 13, 13, 0.54) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.ourhotelphoto{
  margin: 20px;
}
.ourhotelphoto h3{
  text-align: center;
  font-size: 18px;
}
.priori h1{
  color: red;
  text-align: center;
  margin: 50px 15px 20px 15px;
  font-size: 40px;
}
.priori p{
  text-align: center;
  font-size: 16px;
  margin: 20px;
}
.prioriphoto img{
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(187, 15, 15, 0.627) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.prioriphoto{
  margin:40px 20px ;
}
.prioriphoto h3{
  text-align: center;
  font-size: 18px;
}
.prioriphoto p{
  font-size: 15px;
  text-align: justify;
  margin: 15px;
}


/*! 568 */
@media screen and (min-width: 568px){

.servicescontainer{
  display: flex;
  justify-content: space-evenly;

}
.services-box{
  width: 24%;
}

}

/*! 568 finished---- */

/*! 1024 */
@media screen and (min-width: 1024px){
  .ourhotel_container{
    display: flex;
    justify-content: space-evenly;
  }
  .ourhotelphoto{
    width: 24%;
  }
  .priori_container{
    display: flex;
    justify-content: space-evenly;
  }
  .prioriphoto{
    width: 24%;
  }
}
/*! 1024 finished---- */